header{
background-image:url("../images/been.jpg");
    width: 100%;
    height: 100px;
    opacity: 0.7;
}
body{
    background-color:#f7f7f7;
    margin: 0px 0px;
}
table{
    text-align: center;
    width:75%;
}
.img{
    width:100%;
    border-radius: 10px;
}

table.d th{
width: 30px;
}

.been{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border: solid 1px #761b18;/*線*/
    border-radius: 10px;/*角の丸み*/
}
table.been th{
    width: 20%;
}
.desc{
    width: 60%;
}

.wrap{
    margin-left: 30%;
}

.form{
    display: inline;
}
.ty {
 text-align: center;

}
.tyb{
    text-align: center;
}
