header{
    background-color: #857b26;
    margin: -25px -10px;
    text-align: center;
}


table{
    text-align: center;
    width:75%;
}
.img{
    width:100%;
    border-radius: 10px;
}

table.d th{
width: 30px;
}

.been{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border: solid 3px #761b18;/*線*/
    border-radius: 10px;/*角の丸み*/
}
table.been th{
    width: 20%;
}
.desc{
    width: 60%;
}

.wrap{
    margin-left: 20%;
}
.btn{
    padding: 15px 40px;
    font-size: 30px;
}